<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">学生管理系统</div>
            <div class="head-right">
                <div class="remind"></div>
                <div class="fullscreen">全屏显示</div>
                <div class="avatar">
                    <img src="../static/timg.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="menu">
                <button type="button" class="stu-manage btn-default">学生管理</button>
                <div>
                    <button type="button" class="stu-list btn-default">学生列表</button>
                    <button type="button" class="add-btn btn-default">添加学生</button>
                </div>
                <button type="button" class="btn-default control">权限控制</button>
                <button type="button" class="btn-default log-select">操作日志</button>
                <button type="button" class="btn-default user-info">个人中心</button>
            </div>
            <div class="content scroll">
            </div>
        </div>
    </div>
    <script src="../js/jquery-1.11.3.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>